@charset "UTF-8";


body{
    margin: 0px;
    background-color: #DAA49A;
}

main{
    margin: 0px auto;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: whitesmoke;
    padding: 12px;
    font-family: "Noto Sans JP", Verdana, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
}
div#title h1{
    color: #9C0D38;
    text-shadow: 2px 2px 4px #111;
}
div#title p{
    color: whitesmoke;
    text-shadow: 2px 2px 4px #111;
}

main section{
    font-family: "Montserrat", Verdana, sans-serif;
    margin: 12px;
    padding: 10px;
    border: 2px solid #111;
    background-color: whitesmoke;
    border-radius: 12px;
    box-shadow: 2px 2px 4px #111;
}
main section ul li, a{
    color: #9C0D38;
    font-weight: bold;
}

a{
    text-decoration: none;
}
a:hover{
    color: #111;
    text-decoration: underline;
}

footer{
    background-color: #111;
    color: whitesmoke;
    padding: 10px;
    margin: 12px;
    border-radius: 12px;
}