@charset "UTF-8";


body{
    background-color: #DAA49A;
}

header, main{
    margin: 0px auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    padding: 12px;
    font-family: "Noto Sans JP", Verdana, sans-serif;
    background-image: url('images/header-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
}
header h1{
    color: #9C0D38;
}
header p{
    color: whitesmoke;
}

main section{
    font-family: "Montserrat", Verdana, sans-serif;
    margin-top: 5px;
    padding: 10px;
    border: 2px solid #373F51;
    background-color: whitesmoke;
}
main section ul li, a{
    color: #9C0D38;
    font-weight: bold;
}
